
<div>
    <h2><span data-translate="smartportalApp.todoList.detail.title">Todo List</span> {{vm.todoList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.todoList.name">Name</span></dt>
        <dd>
            <span>{{vm.todoList.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.todoList.description">Description</span></dt>
        <dd>
            <span>{{vm.todoList.description}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.todoList.siteId">Site Id</span></dt>
        <dd>
            <span>{{vm.todoList.siteId}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="todo-list-detail.edit({id:vm.todoList.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
