
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDocumentsRequestLabel" data-translate="smartportalApp.documentsRequest.home.createOrEditLabel">Create or edit a Documents Request</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.documentsRequest.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.documentsRequest.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documentsRequest.documentId" for="field_documentId">Document Id</label>
            <input type="text" class="form-control" name="documentId" id="field_documentId"
                    ng-model="vm.documentsRequest.documentId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documentsRequest.requester" for="field_requester">Requester</label>
            <input type="text" class="form-control" name="requester" id="field_requester"
                    ng-model="vm.documentsRequest.requester"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documentsRequest.status" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="vm.documentsRequest.status"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documentsRequest.approver" for="field_approver">Approver</label>
            <input type="text" class="form-control" name="approver" id="field_approver"
                    ng-model="vm.documentsRequest.approver"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documentsRequest.requestType" for="field_requestType">Request Type</label>
            <input type="text" class="form-control" name="requestType" id="field_requestType"
                    ng-model="vm.documentsRequest.requestType"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documentsRequest.siteId" for="field_siteId">Site Id</label>
            <input type="text" class="form-control" name="siteId" id="field_siteId"
                    ng-model="vm.documentsRequest.siteId"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
