<div>
    <h2 data-translate="smartportalApp.workspace_type_definition.home.title">Workspace Type Definitions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="workspace-type-definition.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.workspace_type_definition.home.createLabel">
                        Create new Workspace Type Definition
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workspaceTypeName"><span data-translate="smartportalApp.workspace_type_definition.workspaceTypeName">Workspace Type Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="businessobjectId"><span data-translate="smartportalApp.workspace_type_definition.businessobjectId">Businessobject Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="binderId"><span data-translate="smartportalApp.workspace_type_definition.binderId">Binder Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workflowExists"><span data-translate="smartportalApp.workspace_type_definition.workflowExists">Workflow Exists</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workflowId"><span data-translate="smartportalApp.workspace_type_definition.workflowId">Workflow Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workspace_type_definition in vm.workspace_type_definitions track by workspace_type_definition.id">
                    <td><a ui-sref="workspace-type-definition-detail({id:workspace_type_definition.id})">{{workspace_type_definition.id}}</a></td>
                    <td>{{workspace_type_definition.workspaceTypeName}}</td>
                    <td>{{workspace_type_definition.businessobjectId}}</td>
                    <td>{{workspace_type_definition.binderId}}</td>
                    <td>{{workspace_type_definition.workflowExists}}</td>
                    <td>{{workspace_type_definition.workflowId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="workspace-type-definition-detail({id:workspace_type_definition.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="workspace-type-definition.edit({id:workspace_type_definition.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="workspace-type-definition.delete({id:workspace_type_definition.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
