
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWorkspace_type_definitionLabel" data-translate="smartportalApp.workspace_type_definition.home.createOrEditLabel">Create or edit a Workspace Type Definition</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.workspace_type_definition.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.workspace_type_definition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace_type_definition.workspaceTypeName" for="field_workspaceTypeName">Workspace Type Name</label>
            <input type="text" class="form-control" name="workspaceTypeName" id="field_workspaceTypeName"
                    ng-model="vm.workspace_type_definition.workspaceTypeName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace_type_definition.businessobjectId" for="field_businessobjectId">Businessobject Id</label>
            <input type="text" class="form-control" name="businessobjectId" id="field_businessobjectId"
                    ng-model="vm.workspace_type_definition.businessobjectId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace_type_definition.binderId" for="field_binderId">Binder Id</label>
            <input type="text" class="form-control" name="binderId" id="field_binderId"
                    ng-model="vm.workspace_type_definition.binderId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace_type_definition.workflowExists" for="field_workflowExists">Workflow Exists</label>
                <input type="checkbox" name="workflowExists" id="field_workflowExists"
                          ng-model="vm.workspace_type_definition.workflowExists"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace_type_definition.workflowId" for="field_workflowId">Workflow Id</label>
            <input type="text" class="form-control" name="workflowId" id="field_workflowId"
                    ng-model="vm.workspace_type_definition.workflowId"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
