
<div>
    <h2><span data-translate="smartportalApp.workspace_type_definition.detail.title">Workspace Type Definition</span> {{vm.workspace_type_definition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.workspace_type_definition.workspaceTypeName">Workspace Type Name</span></dt>
        <dd>
            <span>{{vm.workspace_type_definition.workspaceTypeName}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace_type_definition.businessobjectId">Businessobject Id</span></dt>
        <dd>
            <span>{{vm.workspace_type_definition.businessobjectId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace_type_definition.binderId">Binder Id</span></dt>
        <dd>
            <span>{{vm.workspace_type_definition.binderId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace_type_definition.workflowExists">Workflow Exists</span></dt>
        <dd>
            <span>{{vm.workspace_type_definition.workflowExists}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace_type_definition.workflowId">Workflow Id</span></dt>
        <dd>
            <span>{{vm.workspace_type_definition.workflowId}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="workspace-type-definition-detail.edit({id:vm.workspace_type_definition.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
