
<div>
    <h2><span data-translate="smartportalApp.requestActivity.detail.title">Request Activity</span> {{vm.requestActivity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.requestActivity.actvity">Actvity</span></dt>
        <dd>
            <span>{{vm.requestActivity.actvity}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.requestActivity.description">Description</span></dt>
        <dd>
            <span>{{vm.requestActivity.description}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.requestActivity.buttonText">Button Text</span></dt>
        <dd>
            <span>{{vm.requestActivity.buttonText}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.requestActivity.url">Url</span></dt>
        <dd>
            <span>{{vm.requestActivity.url}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.requestActivity.type">Type</span></dt>
        <dd>
            <span>{{vm.requestActivity.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="request-activity-detail.edit({id:vm.requestActivity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
