<div>
    <h2 data-translate="smartportalApp.requestActivity.home.title">Request Activities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="request-activity.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.requestActivity.home.createLabel">
                        Create new Request Activity
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="smartportalApp.requestActivity.actvity">Actvity</span></th>
                    <th><span data-translate="smartportalApp.requestActivity.description">Description</span></th>
                    <th><span data-translate="smartportalApp.requestActivity.buttonText">Button Text</span></th>
                    <th><span data-translate="smartportalApp.requestActivity.url">Url</span></th>
                    <th><span data-translate="smartportalApp.requestActivity.type">Type</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="requestActivity in vm.requestActivities track by requestActivity.id">
                    <td><a ui-sref="request-activity-detail({id:requestActivity.id})">{{requestActivity.id}}</a></td>
                    <td>{{requestActivity.actvity}}</td>
                    <td>{{requestActivity.description}}</td>
                    <td>{{requestActivity.buttonText}}</td>
                    <td>{{requestActivity.url}}</td>
                    <td>{{requestActivity.type}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="request-activity-detail({id:requestActivity.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="request-activity.edit({id:requestActivity.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="request-activity.delete({id:requestActivity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
