<div>
    <h2 data-translate="smartportalApp.workspace.home.title">Workspaces</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="workspace.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.workspace.home.createLabel">
                        Create new Workspace
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="smartportalApp.workspace.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attributes"><span data-translate="smartportalApp.workspace.attributes">Attributes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="binderId"><span data-translate="smartportalApp.workspace.binderId">Binder Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="folderList"><span data-translate="smartportalApp.workspace.folderList">Folder List</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timeTrackerList"><span data-translate="smartportalApp.workspace.timeTrackerList">Time Tracker List</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="spendAnalysis"><span data-translate="smartportalApp.workspace.spendAnalysis">Spend Analysis</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span data-translate="smartportalApp.workspace.comments">Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="taskList"><span data-translate="smartportalApp.workspace.taskList">Task List</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workspace in vm.workspaces track by workspace.id">
                    <td><a ui-sref="workspace-detail({id:workspace.id})">{{workspace.id}}</a></td>
                    <td>{{workspace.name}}</td>
                    <td>{{workspace.attributes}}</td>
                    <td>{{workspace.binderId}}</td>
                    <td>{{workspace.folderList}}</td>
                    <td>{{workspace.timeTrackerList}}</td>
                    <td>{{workspace.spendAnalysis}}</td>
                    <td>{{workspace.comments}}</td>
                    <td>{{workspace.taskList}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="workspace-detail({id:workspace.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="workspace.edit({id:workspace.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="workspace.delete({id:workspace.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
