
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWorkspaceLabel" data-translate="smartportalApp.workspace.home.createOrEditLabel">Create or edit a Workspace</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.workspace.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.workspace.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.workspace.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace.attributes" for="field_attributes">Attributes</label>
            <input type="text" class="form-control" name="attributes" id="field_attributes"
                    ng-model="vm.workspace.attributes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace.binderId" for="field_binderId">Binder Id</label>
            <input type="text" class="form-control" name="binderId" id="field_binderId"
                    ng-model="vm.workspace.binderId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace.folderList" for="field_folderList">Folder List</label>
            <input type="text" class="form-control" name="folderList" id="field_folderList"
                    ng-model="vm.workspace.folderList"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace.timeTrackerList" for="field_timeTrackerList">Time Tracker List</label>
            <input type="text" class="form-control" name="timeTrackerList" id="field_timeTrackerList"
                    ng-model="vm.workspace.timeTrackerList"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace.spendAnalysis" for="field_spendAnalysis">Spend Analysis</label>
            <input type="text" class="form-control" name="spendAnalysis" id="field_spendAnalysis"
                    ng-model="vm.workspace.spendAnalysis"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                    ng-model="vm.workspace.comments"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.workspace.taskList" for="field_taskList">Task List</label>
            <input type="text" class="form-control" name="taskList" id="field_taskList"
                    ng-model="vm.workspace.taskList"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
