
<div>
    <h2><span data-translate="smartportalApp.workspace.detail.title">Workspace</span> {{vm.workspace.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.workspace.name">Name</span></dt>
        <dd>
            <span>{{vm.workspace.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace.attributes">Attributes</span></dt>
        <dd>
            <span>{{vm.workspace.attributes}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace.binderId">Binder Id</span></dt>
        <dd>
            <span>{{vm.workspace.binderId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace.folderList">Folder List</span></dt>
        <dd>
            <span>{{vm.workspace.folderList}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace.timeTrackerList">Time Tracker List</span></dt>
        <dd>
            <span>{{vm.workspace.timeTrackerList}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace.spendAnalysis">Spend Analysis</span></dt>
        <dd>
            <span>{{vm.workspace.spendAnalysis}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace.comments">Comments</span></dt>
        <dd>
            <span>{{vm.workspace.comments}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.workspace.taskList">Task List</span></dt>
        <dd>
            <span>{{vm.workspace.taskList}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="workspace-detail.edit({id:vm.workspace.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
