
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySpendLabel" data-translate="smartportalApp.spend.home.createOrEditLabel">Create or edit a Spend</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.spend.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.spend.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.spend.user" for="field_user">User</label>
            <input type="text" class="form-control" name="user" id="field_user"
                    ng-model="vm.spend.user"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.spend.spendCategory" for="field_spendCategory">Spend Category</label>
            <input type="text" class="form-control" name="spendCategory" id="field_spendCategory"
                    ng-model="vm.spend.spendCategory"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.spend.supplier" for="field_supplier">Supplier</label>
            <input type="text" class="form-control" name="supplier" id="field_supplier"
                    ng-model="vm.spend.supplier"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.spend.referenceContract" for="field_referenceContract">Reference Contract</label>
            <input type="text" class="form-control" name="referenceContract" id="field_referenceContract"
                    ng-model="vm.spend.referenceContract"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.spend.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.spend.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.spend.legalan" for="field_legalan">Legalan</label>
            <input type="text" class="form-control" name="legalan" id="field_legalan"
                    ng-model="vm.spend.legalan"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.spend.purpose" for="field_purpose">Purpose</label>
            <input type="text" class="form-control" name="purpose" id="field_purpose"
                    ng-model="vm.spend.purpose"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.spend.amount" for="field_amount">Amount</label>
            <input type="text" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.spend.amount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.spend.details" for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                    ng-model="vm.spend.details"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
