<div>
    <h2 data-translate="smartportalApp.spend.home.title">Spends</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="spend.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.spend.home.createLabel">
                        Create new Spend
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user"><span data-translate="smartportalApp.spend.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="spendCategory"><span data-translate="smartportalApp.spend.spendCategory">Spend Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="supplier"><span data-translate="smartportalApp.spend.supplier">Supplier</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="referenceContract"><span data-translate="smartportalApp.spend.referenceContract">Reference Contract</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="smartportalApp.spend.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="legalan"><span data-translate="smartportalApp.spend.legalan">Legalan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="purpose"><span data-translate="smartportalApp.spend.purpose">Purpose</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span data-translate="smartportalApp.spend.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="details"><span data-translate="smartportalApp.spend.details">Details</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="spend in vm.spends track by spend.id">
                    <td><a ui-sref="spend-detail({id:spend.id})">{{spend.id}}</a></td>
                    <td>{{spend.user}}</td>
                    <td>{{spend.spendCategory}}</td>
                    <td>{{spend.supplier}}</td>
                    <td>{{spend.referenceContract}}</td>
                    <td>{{spend.date | date:'medium'}}</td>
                    <td>{{spend.legalan}}</td>
                    <td>{{spend.purpose}}</td>
                    <td>{{spend.amount}}</td>
                    <td>{{spend.details}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="spend-detail({id:spend.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="spend.edit({id:spend.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="spend.delete({id:spend.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
