
<div>
    <h2><span data-translate="smartportalApp.spend.detail.title">Spend</span> {{vm.spend.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.spend.user">User</span></dt>
        <dd>
            <span>{{vm.spend.user}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.spend.spendCategory">Spend Category</span></dt>
        <dd>
            <span>{{vm.spend.spendCategory}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.spend.supplier">Supplier</span></dt>
        <dd>
            <span>{{vm.spend.supplier}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.spend.referenceContract">Reference Contract</span></dt>
        <dd>
            <span>{{vm.spend.referenceContract}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.spend.date">Date</span></dt>
        <dd>
            <span>{{vm.spend.date | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.spend.legalan">Legalan</span></dt>
        <dd>
            <span>{{vm.spend.legalan}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.spend.purpose">Purpose</span></dt>
        <dd>
            <span>{{vm.spend.purpose}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.spend.amount">Amount</span></dt>
        <dd>
            <span>{{vm.spend.amount}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.spend.details">Details</span></dt>
        <dd>
            <span>{{vm.spend.details}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="spend-detail.edit({id:vm.spend.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
