
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myActivityLabel" data-translate="smartportalApp.activity.home.createOrEditLabel">Create or edit a Activity</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.activity.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.activity.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.activity.siteId" for="field_siteId">Site Id</label>
            <input type="text" class="form-control" name="siteId" id="field_siteId"
                    ng-model="vm.activity.siteId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.activity.feedPersonId" for="field_feedPersonId">Feed Person Id</label>
            <input type="text" class="form-control" name="feedPersonId" id="field_feedPersonId"
                    ng-model="vm.activity.feedPersonId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.activity.postPersonId" for="field_postPersonId">Post Person Id</label>
            <input type="text" class="form-control" name="postPersonId" id="field_postPersonId"
                    ng-model="vm.activity.postPersonId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.activity.postedAt" for="field_postedAt">Posted At</label>
            <input type="text" class="form-control" name="postedAt" id="field_postedAt"
                    ng-model="vm.activity.postedAt"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.activity.activityType" for="field_activityType">Activity Type</label>
            <input type="text" class="form-control" name="activityType" id="field_activityType"
                    ng-model="vm.activity.activityType"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
