<div>
    <h2 data-translate="smartportalApp.activity.home.title">Activities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="activity.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.activity.home.createLabel">
                        Create new Activity
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="smartportalApp.activity.siteId">Site Id</span></th>
                    <th><span data-translate="smartportalApp.activity.feedPersonId">Feed Person Id</span></th>
                    <th><span data-translate="smartportalApp.activity.postPersonId">Post Person Id</span></th>
                    <th><span data-translate="smartportalApp.activity.postedAt">Posted At</span></th>
                    <th><span data-translate="smartportalApp.activity.activityType">Activity Type</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in vm.activities track by activity.id">
                    <td><a ui-sref="activity-detail({id:activity.id})">{{activity.id}}</a></td>
                    <td>{{activity.siteId}}</td>
                    <td>{{activity.feedPersonId}}</td>
                    <td>{{activity.postPersonId}}</td>
                    <td>{{activity.postedAt}}</td>
                    <td>{{activity.activityType}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="activity-detail({id:activity.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="activity.edit({id:activity.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="activity.delete({id:activity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
