
<div>
    <h2><span data-translate="smartportalApp.sipAgentGroup.detail.title">Sip Agent Group</span> {{vm.sipAgentGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.sipAgentGroup.userId">User Id</span></dt>
        <dd>
            <span>{{vm.sipAgentGroup.userId}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="sip-agent-group-detail.edit({id:vm.sipAgentGroup.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
