<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title th:text="#{email.reset.title}" th:remove="all">JHipster
	password reset</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
		<table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-size: 13px;background-color: #fff; border-radius: 2px;">
			<tbody>
						<tr>
							<td class="alert alert-warning"
								style="background-color: #0099cc; font-size: 16px; color: #fff;font-weight: 500;padding: 20px;text-align: center;border-radius: 2px 2px 0 0;">Smartportal SmartDocs
								Registration</td>
						</tr>
			<tr>
				<td style="padding: 20px;">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><p th:text="#{email.reset.greeting(${sipuser})}">Dear</p></td>
						</tr>
						<tr>
							<td><p th:text="#{email.sip.registration.success.text1}">For your JHipster
									account a password reset was requested, please click on the URL
									below to reset it:</p></td>
						</tr>
						<tr>
							
						</tr>
						<tr>
							<td><p>
									<span th:text="#{email.reset.text2}">Regards, </span> <br /> <em
										th:text="#{email.signature}">JHipster.</em>
								</p></td>
						</tr>
						<tr>
							<td><p>
									<img class="logo-img" src="logo-jhipster.png"
										th:src="|cid:${imageResourceName}|" />
								</p></td>
						</tr>
					</table>
				</td>
				</tr>
			</tbody>
		</table>
</body>

</html>
