<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.activation.title}">JHipster creation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table class="main" width="100%" cellpadding="0" cellspacing="0"
		style="font-size: 13px; background-color: #fff; border-radius: 2px;">
		<tbody>
			<tr>
				<td class="alert alert-warning"
					style="background-color: #0099cc; font-size: 16px; color: #fff; font-weight: 500; padding: 20px; text-align: center; border-radius: 2px 2px 0 0;">Smartportal
					Account Created</td>
			</tr>
			<tr>
				<td style="padding: 20px;">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><p th:text="#{email.activation.greeting(${user.login})}">
									Dear</p></td>
						</tr>
						<tr>
							<td><p th:text="#{email.ticket.creation.text1}">Your JHipster
									account has been created, please click on the URL below to
									access it:</p></td>
						</tr>
						<tr>
							<td style="padding: 0 0 20px;"><p>
									<a
										th:href="@{|${baseUrl}|}"
										 style="text-decoration:none;color:#FFF;background-color:#0099cc;border:solid #0099cc;border-width:10px 20px;line-height:2em;font-weight:bold;text-align:center;cursor:pointer;display:inline-block;border-radius:2px;text-transform:capitalize;">Smartportal</a>
								</p></td>
						</tr>
						<tr>
							<td><p>
									<span th:text="#{email.activation.text2}">Regards, </span> <br />
									<em th:text="#{email.signature}">JHipster.</em>
								</p></td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
