<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.approval.title}">JHipster approval</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table class="main" width="100%" cellpadding="0" cellspacing="0"
		style="font-size: 13px; background-color: #fff; border-radius: 2px;">
		<tbody>
			<tr>
				<td class="alert alert-warning"
					style="background-color: #0099cc; font-size: 16px; color: #fff; font-weight: 500; padding: 20px; text-align: center; border-radius: 2px 2px 0 0;">Request Status</td>
			</tr>
			<tr>
				<td style="padding: 20px;">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><p th:text="#{email.approval.greeting(${createdBy})}">,
									Dear Associate,</p></td><br  />
						</tr> 
						
						<tr>
							<td><p th:text="#{email.empty (${permission_type} )}">  </p>   <p th:text="#{email.empty (${site_id} )}">  </p> <br /></td>
						</tr>
						<tr>
							<td style="padding: 0 0 20px;">
								<p th:text="#{email.cancel.text2(${title})}">
									TRN No. : <br />
								</p>
								
								<p th:text="#{email.cancel.text7(${request.createdBy})}">
									 Initiator:  <br />
								</p>
								
								
								<br />
							</td>
							
						</tr>
						<tr>
							<td><p>
									<span >Request you to please do the needfull  <br /><br /><br />
								                           URL : <em th:text="#{email.url}"></em>  </span> <br /><br /><br />
									<em th:text="#{email.signature}"></em>
								</p></td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
