<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.approval.title}">JHipster approval</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table class="main" width="100%" cellpadding="0" cellspacing="0"
		style="font-size: 13px; background-color: #fff; border-radius: 2px;">
		<tbody>
			<tr>
				<td class="alert alert-warning"
					style="background-color: #0099cc; font-size: 16px; color: #fff; font-weight: 500; padding: 20px; text-align: center; border-radius: 2px 2px 0 0;">WorkSapce Approved</td>
			</tr>
			<tr>
				<td style="padding: 20px;">
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td><p th:text="#{email.approval.greeting(${user.login})}">
									Dear</p></td>
						</tr>
						<tr>
							<td><p >Your request for the following workspace has been Approved.</p></td>
						</tr>
						<tr>
							<td style="padding: 0 0 20px;">
								<p th:text="#{email.approval.text2(${title})}">
									Title = <br />
								</p>
								<p th:text="#{email.approval.text7(${approvedBy})}">
									Approved By = <br />
								</p>
								
								
							</td>
						</tr>
						<tr>
							<td><p>
									<span th:text="#{email.approval.text5}">Regards, </span> <br />
									<em th:text="#{email.signature}">JHipster.</em>
								</p></td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
