
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDocumentsRequestsUserLabel" data-translate="smartportalApp.documentsRequestsUser.home.createOrEditLabel">Create or edit a Documents Requests User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.documentsRequestsUser.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.documentsRequestsUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documentsRequestsUser.requestId" for="field_requestId">Request Id</label>
            <input type="text" class="form-control" name="requestId" id="field_requestId"
                    ng-model="vm.documentsRequestsUser.requestId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documentsRequestsUser.requestType" for="field_requestType">Request Type</label>
            <input type="text" class="form-control" name="requestType" id="field_requestType"
                    ng-model="vm.documentsRequestsUser.requestType"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.documentsRequestsUser.user" for="field_user">User</label>
            <input type="text" class="form-control" name="user" id="field_user"
                    ng-model="vm.documentsRequestsUser.user"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
