<div>
    <h2 data-translate="smartportalApp.partner_registration.home.title">Partner Registrations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="partner-registration.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.partner_registration.home.createLabel">
                        Create new Partner Registration
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span data-translate="smartportalApp.partner_registration.companyName">Company Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstName"><span data-translate="smartportalApp.partner_registration.firstName">First Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastName"><span data-translate="smartportalApp.partner_registration.lastName">Last Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="emailAddress"><span data-translate="smartportalApp.partner_registration.emailAddress">Email Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNumber"><span data-translate="smartportalApp.partner_registration.phoneNumber">Phone Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactPersonName"><span data-translate="smartportalApp.partner_registration.contactPersonName">Contact Person Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactPersonEmail"><span data-translate="smartportalApp.partner_registration.contactPersonEmail">Contact Person Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span data-translate="smartportalApp.partner_registration.comments">Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="partner_registration in vm.partner_registrations track by partner_registration.id">
                    <td><a ui-sref="partner-registration-detail({id:partner_registration.id})">{{partner_registration.id}}</a></td>
                    <td>{{partner_registration.companyName}}</td>
                    <td>{{partner_registration.firstName}}</td>
                    <td>{{partner_registration.lastName}}</td>
                    <td>{{partner_registration.emailAddress}}</td>
                    <td>{{partner_registration.phoneNumber}}</td>
                    <td>{{partner_registration.contactPersonName}}</td>
                    <td>{{partner_registration.contactPersonEmail}}</td>
                    <td>{{partner_registration.comments}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="partner-registration-detail({id:partner_registration.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partner-registration.edit({id:partner_registration.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partner-registration.delete({id:partner_registration.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
