
<div>
    <h2><span data-translate="smartportalApp.partner_registration.detail.title">Partner Registration</span> {{vm.partner_registration.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.partner_registration.companyName">Company Name</span></dt>
        <dd>
            <span>{{vm.partner_registration.companyName}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_registration.firstName">First Name</span></dt>
        <dd>
            <span>{{vm.partner_registration.firstName}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_registration.lastName">Last Name</span></dt>
        <dd>
            <span>{{vm.partner_registration.lastName}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_registration.emailAddress">Email Address</span></dt>
        <dd>
            <span>{{vm.partner_registration.emailAddress}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_registration.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{vm.partner_registration.phoneNumber}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_registration.contactPersonName">Contact Person Name</span></dt>
        <dd>
            <span>{{vm.partner_registration.contactPersonName}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_registration.contactPersonEmail">Contact Person Email</span></dt>
        <dd>
            <span>{{vm.partner_registration.contactPersonEmail}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_registration.comments">Comments</span></dt>
        <dd>
            <span>{{vm.partner_registration.comments}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="partner-registration-detail.edit({id:vm.partner_registration.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
