
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPartner_registrationLabel" data-translate="smartportalApp.partner_registration.home.createOrEditLabel">Create or edit a Partner Registration</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.partner_registration.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.partner_registration.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_registration.companyName" for="field_companyName">Company Name</label>
            <input type="text" class="form-control" name="companyName" id="field_companyName"
                    ng-model="vm.partner_registration.companyName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_registration.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.partner_registration.firstName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_registration.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.partner_registration.lastName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_registration.emailAddress" for="field_emailAddress">Email Address</label>
            <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                    ng-model="vm.partner_registration.emailAddress"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_registration.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                    ng-model="vm.partner_registration.phoneNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_registration.contactPersonName" for="field_contactPersonName">Contact Person Name</label>
            <input type="text" class="form-control" name="contactPersonName" id="field_contactPersonName"
                    ng-model="vm.partner_registration.contactPersonName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_registration.contactPersonEmail" for="field_contactPersonEmail">Contact Person Email</label>
            <input type="text" class="form-control" name="contactPersonEmail" id="field_contactPersonEmail"
                    ng-model="vm.partner_registration.contactPersonEmail"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_registration.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                    ng-model="vm.partner_registration.comments"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
