
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myApprovalMatrixLabel" data-translate="smartportalApp.approvalMatrix.home.createOrEditLabel">Create or edit a Approval Matrix</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.approvalMatrix.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.approvalMatrix.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.approvalMatrix.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.approvalMatrix.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.approvalMatrix.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.approvalMatrix.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.approvalMatrix.requesttype" for="field_requesttype">Requesttype</label>
            <input type="text" class="form-control" name="requesttype" id="field_requesttype"
                    ng-model="vm.approvalMatrix.requesttype"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.approvalMatrix.noOfApprovalLevels" for="field_noOfApprovalLevels">No Of Approval Levels</label>
            <input type="text" class="form-control" name="noOfApprovalLevels" id="field_noOfApprovalLevels"
                    ng-model="vm.approvalMatrix.noOfApprovalLevels"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
