
<div>
    <h2><span data-translate="smartportalApp.approvalMatrix.detail.title">Approval Matrix</span> {{vm.approvalMatrix.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.approvalMatrix.name">Name</span></dt>
        <dd>
            <span>{{vm.approvalMatrix.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.approvalMatrix.description">Description</span></dt>
        <dd>
            <span>{{vm.approvalMatrix.description}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.approvalMatrix.requesttype">Requesttype</span></dt>
        <dd>
            <span>{{vm.approvalMatrix.requesttype}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.approvalMatrix.noOfApprovalLevels">No Of Approval Levels</span></dt>
        <dd>
            <span>{{vm.approvalMatrix.noOfApprovalLevels}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="approval-matrix-detail.edit({id:vm.approvalMatrix.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
