<div>
    <h2 data-translate="smartportalApp.approvalMatrix.home.title">Approval Matrices</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="approval-matrix.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.approvalMatrix.home.createLabel">
                        Create new Approval Matrix
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="smartportalApp.approvalMatrix.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="smartportalApp.approvalMatrix.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requesttype"><span data-translate="smartportalApp.approvalMatrix.requesttype">Requesttype</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="noOfApprovalLevels"><span data-translate="smartportalApp.approvalMatrix.noOfApprovalLevels">No Of Approval Levels</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="approvalMatrix in vm.approvalMatrices track by approvalMatrix.id">
                    <td><a ui-sref="approval-matrix-detail({id:approvalMatrix.id})">{{approvalMatrix.id}}</a></td>
                    <td>{{approvalMatrix.name}}</td>
                    <td>{{approvalMatrix.description}}</td>
                    <td>{{approvalMatrix.requesttype}}</td>
                    <td>{{approvalMatrix.noOfApprovalLevels}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="approval-matrix-detail({id:approvalMatrix.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="approval-matrix.edit({id:approvalMatrix.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="approval-matrix.delete({id:approvalMatrix.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
