
<div>
    <h2><span data-translate="smartportalApp.groups.detail.title">Groups</span> {{vm.groups.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.groups.name">Name</span></dt>
        <dd>
            <span>{{vm.groups.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.groups.description">Description</span></dt>
        <dd>
            <span>{{vm.groups.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="groups-detail.edit({id:vm.groups.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
