
<div>
    <h2><span data-translate="smartportalApp.taskList.detail.title">Task List</span> {{vm.taskList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.taskList.title">Title</span></dt>
        <dd>
            <span>{{vm.taskList.title}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.taskList.notes">Notes</span></dt>
        <dd>
            <span>{{vm.taskList.notes}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.taskList.startDate">Start Date</span></dt>
        <dd>
            <span>{{vm.taskList.startDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.taskList.dueDate">Due Date</span></dt>
        <dd>
            <span>{{vm.taskList.dueDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.taskList.completed">Completed</span></dt>
        <dd>
            <span>{{vm.taskList.completed}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.taskList.starred">Starred</span></dt>
        <dd>
            <span>{{vm.taskList.starred}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.taskList.important">Important</span></dt>
        <dd>
            <span>{{vm.taskList.important}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.taskList.deleted">Deleted</span></dt>
        <dd>
            <span>{{vm.taskList.deleted}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.taskList.workSpace">Work Space</span></dt>
        <dd>
            <span>{{vm.taskList.workSpace}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="task-list-detail.edit({id:vm.taskList.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
