<div>
    <h2 data-translate="smartportalApp.taskList.home.title">Task Lists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="task-list.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.taskList.home.createLabel">
                        Create new Task List
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="smartportalApp.taskList.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span data-translate="smartportalApp.taskList.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span data-translate="smartportalApp.taskList.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dueDate"><span data-translate="smartportalApp.taskList.dueDate">Due Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="completed"><span data-translate="smartportalApp.taskList.completed">Completed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="starred"><span data-translate="smartportalApp.taskList.starred">Starred</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="important"><span data-translate="smartportalApp.taskList.important">Important</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deleted"><span data-translate="smartportalApp.taskList.deleted">Deleted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workSpace"><span data-translate="smartportalApp.taskList.workSpace">Work Space</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="taskList in vm.taskLists track by taskList.id">
                    <td><a ui-sref="task-list-detail({id:taskList.id})">{{taskList.id}}</a></td>
                    <td>{{taskList.title}}</td>
                    <td>{{taskList.notes}}</td>
                    <td>{{taskList.startDate | date:'medium'}}</td>
                    <td>{{taskList.dueDate | date:'medium'}}</td>
                    <td>{{taskList.completed}}</td>
                    <td>{{taskList.starred}}</td>
                    <td>{{taskList.important}}</td>
                    <td>{{taskList.deleted}}</td>
                    <td>{{taskList.workSpace}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="task-list-detail({id:taskList.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="task-list.edit({id:taskList.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="task-list.delete({id:taskList.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
