
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaskListLabel" data-translate="smartportalApp.taskList.home.createOrEditLabel">Create or edit a Task List</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.taskList.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.taskList.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.taskList.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.taskList.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.taskList.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="vm.taskList.notes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.taskList.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.taskList.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.taskList.dueDate" for="field_dueDate">Due Date</label>
                <div class="input-group">
                    <input id="field_dueDate" type="text" class="form-control" name="dueDate" datetime-picker="{{dateformat}}" ng-model="vm.taskList.dueDate" is-open="vm.datePickerOpenStatus.dueDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dueDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.taskList.completed" for="field_completed">Completed</label>
            <input type="text" class="form-control" name="completed" id="field_completed"
                    ng-model="vm.taskList.completed"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.taskList.starred" for="field_starred">Starred</label>
                <input type="checkbox" name="starred" id="field_starred"
                          ng-model="vm.taskList.starred"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.taskList.important" for="field_important">Important</label>
                <input type="checkbox" name="important" id="field_important"
                          ng-model="vm.taskList.important"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.taskList.deleted" for="field_deleted">Deleted</label>
                <input type="checkbox" name="deleted" id="field_deleted"
                          ng-model="vm.taskList.deleted"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.taskList.workSpace" for="field_workSpace">Work Space</label>
            <input type="text" class="form-control" name="workSpace" id="field_workSpace"
                    ng-model="vm.taskList.workSpace"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
