
<div>
    <h2><span data-translate="smartportalApp.site.detail.title">Site</span> {{vm.site.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.site.name">Name</span></dt>
        <dd>
            <span>{{vm.site.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.site.url">Url</span></dt>
        <dd>
            <span>{{vm.site.url}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.site.description">Description</span></dt>
        <dd>
            <span>{{vm.site.description}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.site.icon">Icon</span></dt>
        <dd>
            <span>{{vm.site.icon}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.site.visibility">Visibility</span></dt>
        <dd>
            <span>{{vm.site.visibility}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="site-detail.edit({id:vm.site.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
