
<div>
    <h2><span data-translate="smartportalApp.partner_management.detail.title">Partner Management</span> {{vm.partner_management.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.partner_management.partnerName">Partner Name</span></dt>
        <dd>
            <span>{{vm.partner_management.partnerName}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_management.partnerType">Partner Type</span></dt>
        <dd>
            <span>{{vm.partner_management.partnerType}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_management.address">Address</span></dt>
        <dd>
            <span>{{vm.partner_management.address}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_management.partnerId">Partner Id</span></dt>
        <dd>
            <span>{{vm.partner_management.partnerId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.partner_management.dataObjects">Data Objects</span></dt>
        <dd>
            <span>{{vm.partner_management.dataObjects}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="partner-management-detail.edit({id:vm.partner_management.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
