<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPartner_managementLabel" data-translate="smartportalApp.partner_management.home.createOrEditLabel">Create or edit a Partner Management</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.partner_management.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.partner_management.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_management.partnerName" for="field_partnerName">Partner Name</label>
            <input type="text" class="form-control" name="partnerName" id="field_partnerName"
                    ng-model="vm.partner_management.partnerName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_management.partnerType" for="field_partnerType">Partner Type</label>
            <input type="text" class="form-control" name="partnerType" id="field_partnerType"
                    ng-model="vm.partner_management.partnerType"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_management.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.partner_management.address"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_management.partnerId" for="field_partnerId">Partner Id</label>
            <input type="text" class="form-control" name="partnerId" id="field_partnerId"
                    ng-model="vm.partner_management.partnerId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.partner_management.dataObjects" for="field_dataObjects">Data Objects</label>
            <input type="text" class="form-control" name="dataObjects" id="field_dataObjects"
                    ng-model="vm.partner_management.dataObjects"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
