<div>
    <h2 data-translate="smartportalApp.partner_management.home.title">Partner Managements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="partner-management.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.partner_management.home.createLabel">
                        Create new Partner Management
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="partnerName"><span data-translate="smartportalApp.partner_management.partnerName">Partner Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="partnerType"><span data-translate="smartportalApp.partner_management.partnerType">Partner Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span data-translate="smartportalApp.partner_management.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="partnerId"><span data-translate="smartportalApp.partner_management.partnerId">Partner Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataObjects"><span data-translate="smartportalApp.partner_management.dataObjects">Data Objects</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="partner_management in vm.partner_managements track by partner_management.id">
                    <td><a ui-sref="partner-management-detail({id:partner_management.id})">{{partner_management.id}}</a></td>
                    <td>{{partner_management.partnerName}}</td>
                    <td>{{partner_management.partnerType}}</td>
                    <td>{{partner_management.address}}</td>
                    <td>{{partner_management.partnerId}}</td>
                    <td>{{partner_management.dataObjects}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="partner-management-detail({id:partner_management.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partner-management.edit({id:partner_management.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="partner-management.delete({id:partner_management.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
