
<div>
    <h2><span data-translate="smartportalApp.substitute.detail.title">Substitute</span> {{vm.substitute.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.substitute.userId">User Id</span></dt>
        <dd>
            <span>{{vm.substitute.userId}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.substitute.substituteuser">Substituteuser</span></dt>
        <dd>
            <span>{{vm.substitute.substituteuser}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.substitute.fromDate">From Date</span></dt>
        <dd>
            <span>{{vm.substitute.fromDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.substitute.toDate">To Date</span></dt>
        <dd>
            <span>{{vm.substitute.toDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.substitute.status">Status</span></dt>
        <dd>
            <span>{{vm.substitute.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="substitute-detail.edit({id:vm.substitute.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
