
<div>
    <h2><span data-translate="smartportalApp.businessObjects.detail.title">Business Objects</span> {{vm.businessObjects.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.businessObjects.name">Name</span></dt>
        <dd>
            <span>{{vm.businessObjects.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.businessObjects.description">Description</span></dt>
        <dd>
            <span>{{vm.businessObjects.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="business-objects-detail.edit({id:vm.businessObjects.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
