<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="-business-area-heading" jhiTranslate="smartportalApp.businessArea.home.createOrEditLabel">Create or edit a Business Area</h2>
            <div>
                <-alert-error></-alert-error>
                <div class="form-group" [hidden]="!businessArea.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="businessArea.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartportalApp.businessArea.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="businessArea.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartportalApp.businessArea.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="businessArea.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartportalApp.businessArea.agents" for="field_agents">Agents</label>
                    <input type="text" class="form-control" name="agents" id="field_agents"
                        [(ngModel)]="businessArea.agents" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="smartportalApp.businessArea.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="businessArea.type" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
