<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="businessArea">
            <h2><span jhiTranslate="smartportalApp.businessArea.detail.title">Business Area</span> {{businessArea.id}}</h2>
            <hr>
            <-alert-error></-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smartportalApp.businessArea.name">Name</span></dt>
                <dd>
                    <span>{{businessArea.name}}</span>
                </dd>
                <dt><span jhiTranslate="smartportalApp.businessArea.description">Description</span></dt>
                <dd>
                    <span>{{businessArea.description}}</span>
                </dd>
                <dt><span jhiTranslate="smartportalApp.businessArea.agents">Agents</span></dt>
                <dd>
                    <span>{{businessArea.agents}}</span>
                </dd>
                <dt><span jhiTranslate="smartportalApp.businessArea.type">Type</span></dt>
                <dd>
                    <span>{{businessArea.type}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/business-area', businessArea.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
