
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDocTypeLabel" data-translate="smartportalApp.docType.home.createOrEditLabel">Create or edit a Doc Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.docType.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.docType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.docType.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.docType.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.docType.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.docType.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.docType.formId" for="field_formId">Form Id</label>
            <input type="text" class="form-control" name="formId" id="field_formId"
                    ng-model="vm.docType.formId"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
