
<div>
    <h2><span data-translate="smartportalApp.docType.detail.title">Doc Type</span> {{vm.docType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="smartportalApp.docType.name">Name</span></dt>
        <dd>
            <span>{{vm.docType.name}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.docType.description">Description</span></dt>
        <dd>
            <span>{{vm.docType.description}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.docType.formId">Form Id</span></dt>
        <dd>
            <span>{{vm.docType.formId}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="doc-type-detail.edit({id:vm.docType.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
