
<div>
    <h2><span data-translate="smartportalApp.timetracker.detail.title">Timetracker</span> {{vm.timetracker.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.timetracker.user">User</span></dt>
        <dd>
            <span>{{vm.timetracker.user}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.timetracker.date">Date</span></dt>
        <dd>
            <span>{{vm.timetracker.date | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.timetracker.duration">Duration</span></dt>
        <dd>
            <span>{{vm.timetracker.duration}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.timetracker.purpose">Purpose</span></dt>
        <dd>
            <span>{{vm.timetracker.purpose}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.timetracker.referenceContract">Reference Contract</span></dt>
        <dd>
            <span>{{vm.timetracker.referenceContract}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.timetracker.details">Details</span></dt>
        <dd>
            <span>{{vm.timetracker.details}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.timetracker.referenceLegalConcern">Reference Legal Concern</span></dt>
        <dd>
            <span>{{vm.timetracker.referenceLegalConcern}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="timetracker-detail.edit({id:vm.timetracker.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
