
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTimetrackerLabel" data-translate="smartportalApp.timetracker.home.createOrEditLabel">Create or edit a Timetracker</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.timetracker.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.timetracker.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.timetracker.user" for="field_user">User</label>
            <input type="text" class="form-control" name="user" id="field_user"
                    ng-model="vm.timetracker.user"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.timetracker.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.timetracker.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.timetracker.duration" for="field_duration">Duration</label>
            <input type="text" class="form-control" name="duration" id="field_duration"
                    ng-model="vm.timetracker.duration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.timetracker.purpose" for="field_purpose">Purpose</label>
            <input type="text" class="form-control" name="purpose" id="field_purpose"
                    ng-model="vm.timetracker.purpose"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.timetracker.referenceContract" for="field_referenceContract">Reference Contract</label>
            <input type="text" class="form-control" name="referenceContract" id="field_referenceContract"
                    ng-model="vm.timetracker.referenceContract"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.timetracker.details" for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                    ng-model="vm.timetracker.details"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.timetracker.referenceLegalConcern" for="field_referenceLegalConcern">Reference Legal Concern</label>
            <input type="text" class="form-control" name="referenceLegalConcern" id="field_referenceLegalConcern"
                    ng-model="vm.timetracker.referenceLegalConcern"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
