<div>
    <h2 data-translate="smartportalApp.timetracker.home.title">Timetrackers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="timetracker.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.timetracker.home.createLabel">
                        Create new Timetracker
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user"><span data-translate="smartportalApp.timetracker.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="smartportalApp.timetracker.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duration"><span data-translate="smartportalApp.timetracker.duration">Duration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="purpose"><span data-translate="smartportalApp.timetracker.purpose">Purpose</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="referenceContract"><span data-translate="smartportalApp.timetracker.referenceContract">Reference Contract</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="details"><span data-translate="smartportalApp.timetracker.details">Details</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="referenceLegalConcern"><span data-translate="smartportalApp.timetracker.referenceLegalConcern">Reference Legal Concern</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="timetracker in vm.timetrackers track by timetracker.id">
                    <td><a ui-sref="timetracker-detail({id:timetracker.id})">{{timetracker.id}}</a></td>
                    <td>{{timetracker.user}}</td>
                    <td>{{timetracker.date | date:'medium'}}</td>
                    <td>{{timetracker.duration}}</td>
                    <td>{{timetracker.purpose}}</td>
                    <td>{{timetracker.referenceContract}}</td>
                    <td>{{timetracker.details}}</td>
                    <td>{{timetracker.referenceLegalConcern}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="timetracker-detail({id:timetracker.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="timetracker.edit({id:timetracker.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="timetracker.delete({id:timetracker.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
