
<div>
    <h2><span data-translate="smartportalApp.contacts.detail.title">Contacts</span> {{vm.contacts.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="smartportalApp.contacts.firstName">First Name</span></dt>
        <dd>
            <span>{{vm.contacts.firstName}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.lastName">Last Name</span></dt>
        <dd>
            <span>{{vm.contacts.lastName}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.nickName">Nick Name</span></dt>
        <dd>
            <span>{{vm.contacts.nickName}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{vm.contacts.phoneNumber}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.email">Email</span></dt>
        <dd>
            <span>{{vm.contacts.email}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.company">Company</span></dt>
        <dd>
            <span>{{vm.contacts.company}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.jobTitle">Job Title</span></dt>
        <dd>
            <span>{{vm.contacts.jobTitle}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.birthDay">Birth Day</span></dt>
        <dd>
            <span>{{vm.contacts.birthDay | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.address">Address</span></dt>
        <dd>
            <span>{{vm.contacts.address}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.notes">Notes</span></dt>
        <dd>
            <span>{{vm.contacts.notes}}</span>
        </dd>
        <dt><span data-translate="smartportalApp.contacts.type">Type</span></dt>
        <dd>
            <span>{{vm.contacts.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="contacts-detail.edit({id:vm.contacts.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
