<div>
    <h2 data-translate="smartportalApp.contacts.home.title">Contacts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="contacts.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="smartportalApp.contacts.home.createLabel">
                        Create new Contacts
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstName"><span data-translate="smartportalApp.contacts.firstName">First Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastName"><span data-translate="smartportalApp.contacts.lastName">Last Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nickName"><span data-translate="smartportalApp.contacts.nickName">Nick Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNumber"><span data-translate="smartportalApp.contacts.phoneNumber">Phone Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="smartportalApp.contacts.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="company"><span data-translate="smartportalApp.contacts.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jobTitle"><span data-translate="smartportalApp.contacts.jobTitle">Job Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthDay"><span data-translate="smartportalApp.contacts.birthDay">Birth Day</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span data-translate="smartportalApp.contacts.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span data-translate="smartportalApp.contacts.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="smartportalApp.contacts.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contacts in vm.contacts track by contacts.id">
                    <td><a ui-sref="contacts-detail({id:contacts.id})">{{contacts.id}}</a></td>
                    <td>{{contacts.firstName}}</td>
                    <td>{{contacts.lastName}}</td>
                    <td>{{contacts.nickName}}</td>
                    <td>{{contacts.phoneNumber}}</td>
                    <td>{{contacts.email}}</td>
                    <td>{{contacts.company}}</td>
                    <td>{{contacts.jobTitle}}</td>
                    <td>{{contacts.birthDay | date:'medium'}}</td>
                    <td>{{contacts.address}}</td>
                    <td>{{contacts.notes}}</td>
                    <td>{{contacts.type}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contacts-detail({id:contacts.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contacts.edit({id:contacts.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contacts.delete({id:contacts.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
