
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContactsLabel" data-translate="smartportalApp.contacts.home.createOrEditLabel">Create or edit a Contacts</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contacts.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contacts.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.contacts.firstName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.contacts.lastName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.nickName" for="field_nickName">Nick Name</label>
            <input type="text" class="form-control" name="nickName" id="field_nickName"
                    ng-model="vm.contacts.nickName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                    ng-model="vm.contacts.phoneNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.contacts.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.company" for="field_company">Company</label>
            <input type="text" class="form-control" name="company" id="field_company"
                    ng-model="vm.contacts.company"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.jobTitle" for="field_jobTitle">Job Title</label>
            <input type="text" class="form-control" name="jobTitle" id="field_jobTitle"
                    ng-model="vm.contacts.jobTitle"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.birthDay" for="field_birthDay">Birth Day</label>
                <div class="input-group">
                    <input id="field_birthDay" type="text" class="form-control" name="birthDay" datetime-picker="{{dateformat}}" ng-model="vm.contacts.birthDay" is-open="vm.datePickerOpenStatus.birthDay"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthDay')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.contacts.address"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="vm.contacts.notes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="smartportalApp.contacts.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.contacts.type"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
